.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* Mobile default */
    background-color: var(--gray);
    border-bottom: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

@media (min-width: 769px) {
    .navbar {
        padding: 20px 5%;
    }
}

.nav-logo a {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 50px;
    width: auto;
    object-fit: contain;
    transform: scale(3);
    transform-origin: left center;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    font-size: 1.1rem;
    font-weight: 700;
    transition: color 0.3s ease;
    position: relative;
}

.nav-links a.active {
    color: var(--orange);
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--orange);
    transition: width 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after {
    width: 100%;
}

.mobile-menu-icon {
    display: none;
    font-size: 1.8rem;
    color: var(--black);
    cursor: pointer;
}

@media (max-width: 768px) {
    .mobile-menu-icon {
        display: block;
        color: var(--black);
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        background-color: var(--gray);
        padding: 2rem 0;
        border-bottom: 1px solid var(--border-color);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
    }

    .nav-links.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .nav-links a {
        font-size: 1.2rem;
        color: var(--black);
    }
}